body {
    background-color: #437ba0; 
}

div#main {
    background-color: #515DFF;
    border-radius: 7px;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div#bottom {
    position: absolute;
    bottom: 0px;
}

h2#title {
    margin-left: 10px;
    color: #111111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img#github {
    margin-left: 10px;
    display: inline;
}

a.no-underline {
    text-decoration: none;
}

p {
    margin-left: 10px;
    color: #111111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #111111;
}